<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="DatabaseConnectionString" value="server=194.135.87.48;user id=yuohlt;password=KeperstKeperstSantizos;database=yuohlt_test"/>
    </appSettings>
</configuration>